<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestUtils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>testutils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BBD0695155B0C2000FFD4EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BBD06C1155B0C2000FFD4EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BBD0702155B223400FFD4EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BBD0711155B22A100FFD4EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
